# THIS IS THE TOML FILE FOR DIESEL CLI
# TO USE THIS, SIMPLY REMOVE THE .example EXTENSION
# REPLACE 'dir' with your path to the migrations directory in src-tauri/migrations
# YOU CAN ALSO RUN npm run generate-toml AFTER REMOVING THE .example EXTENSION, WHICH 
# SET THE dir FOR YOU

[print_schema]
file = "src/schema.rs"
custom_type_derives = ["diesel::query_builder::QueryId", "Clone"]


[migrations_directory]
dir = "/your/path/to/migrations"

