*.py linguist-language=Python
*.rs linguist-language=Rust
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.bb linguist-language=Rust
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.html linguist-language=HTML
*.exe filter=lfs diff=lfs merge=lfs -text
src/components/solidui/* linguist-vendored=true
